<h1>Welcome to dank dollar change machine</h1>
<form action="/result">
  <label>Enter the dollar amount here: </label>
  <input type="text" name="dollar">
  <button type="submit">Submit</button>
</form>
